<div class="fx fx-fill" style="padding: 20px;">

  <div class="fx fx-flex fx-column fx-gap-8 widget">

    <div class="fx fx-row">

      <div class="fx fx-align-center-center" style="cursor: pointer;" (click)="back()">
        <button mat-icon-button>
          <mat-icon>arrow-back</mat-icon>
          <!--          <rems-icon icon="arrow-back" [width]="24" [height]="24"></rems-icon>-->
        </button>
      </div>

      <div class="fx fx-flex fx-align-center-center">
        <span>Mode de charge</span>
      </div>

      <div style="width: 24px;"></div>
    </div>

    <div class="fx fx-row fx-align-center-center fx-gap-8" style="padding: 10px 0;">

      <div *ngFor="let option of options" class="fx fx-column fx-flex fx-align-center-center mode-item" [ngClass]="{
        'mode-item--selected': selectedMode === option.mode
      }" (click)="selectMode(option.mode)">

        <mat-icon>{{option.icon}}</mat-icon>
        <!--        <rems-icon [icon]="option.icon" [width]="30" [height]="30"></rems-icon>-->

        <span style="font-size: 12px;">{{option.label}}</span>
      </div>
    </div>

    <div [ngSwitch]="selectedMode" class="fx-flex" style="overflow: auto;">

      <div *ngSwitchCase="'always'" @fade class="fx fx-align-center-center">
        <span style="font-size: 12px;">Branchez et chargez immédiatement !</span>
      </div>

      <div *ngSwitchCase="'always_charging'" @fade class="fx fx-column fx-gap-16">

        <div class="fx fx-align-center-center">
          <span style="font-size: 12px;">Lancez une charge quand vous voulez.</span>
        </div>

        <button mat-flat-button (click)="openTimeScheduler()">
          <span>Planifier</span>
        </button>

        <div *ngIf="timeSchedule" class="fx fx-align-center-center">
          <span>Début à : {{timeSchedule}}</span>
        </div>
      </div>

      <div *ngSwitchCase="'schedule'" @fade style="overflow: auto;">

        <div class="fx fx-column fx-align-center-center fx-gap-4">

          <span style="font-size: 12px;">Programmez votre charge hebdomadaire.</span>

          <div class="fx fx-column fx-align-start-stretch fx-gap-16" style="overflow: auto;">

            <div *ngFor="let sched of weekSchedules; let index = index;" class="fx fx-column fx-gap-8"
                 style="font-size: 13px;">

              <div class="fx fx-align-center-center">
                <app-week-ribbon [(enabledDays)]="sched.days" [readonly]="true"/>
              </div>

              <div class="fx fx-row fx-gap-16">

                <div class="fx fx-flex fx-column fx-align-start-stretch fx-gap-4">

                  <span>De {{sched.startTime ?? '-'}} à {{sched.endTime ?? '-'}}</span>
                </div>

                <mat-icon (click)="openWeekScheduler(index)">edit</mat-icon>
                <!--                <rems-icon [icon]="'edit'" [width]="20" [height]="20"></rems-icon>-->

                <input type="checkbox" [checked]="sched.activated">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchDefault @fade class="fx fx-align-center-center">
        <span style="font-size: 12px; text-align: center;">Veuillez sélectionner un mode de charge.</span>
      </div>
    </div>

    <button mat-flat-button type="button">
      <span>Sauvegarder</span>
    </button>
  </div>
</div>
