<app-panel>

  <form [formGroup]="form" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">

    <div class="flex justify-center items-center">
      <span>VÉHICULES</span>
    </div>

    <div *ngIf="vehicles() && !isLoading; else loading">

      <mat-radio-group *ngIf="vehicles()!.vehicleLinks?.length; else empty"
                       class="flex flex-col gap-2"
                       formControlName="vin">
        <mat-radio-button *ngFor="let vehicle of vehicles()!.vehicleLinks" [value]="vehicle.vin">
          {{vehicle.vin}}
        </mat-radio-button>
      </mat-radio-group>

      <ng-template #empty>
        <span>Aucune voiture associée à ce compte</span>
      </ng-template>
    </div>

    <div class="flex justify-center items-center gap-4">

      <button mat-flat-button type="button" (click)="switchAccount()">RETOUR</button>

      <button mat-flat-button type="submit" [disabled]="form.invalid">CONFIRMER</button>
    </div>
  </form>

  <ng-template #loading>
    <div class="flex justify-center items-center">
      <app-spinner/>
    </div>
  </ng-template>
</app-panel>
