<div class="fx fx-column fx-gap-8" style="font-size: 14px;">

  <div class="fx fx-row action-wrapper" (click)="goToChargeMode()">

    <span class="fx-flex">Mode de charge</span>

    <mat-icon>chevron-right</mat-icon>
<!--    <rems-icon icon="chevron-right" [width]="24" [height]="24"></rems-icon>-->
  </div>

  <div class="fx fx-row action-wrapper" (click)="goToHistory()">

    <div class="fx-flex">
      <span>Historique</span>
    </div>

    <mat-icon>chevron-right</mat-icon>
<!--    <rems-icon icon="chevron-right" [width]="24" [height]="24"></rems-icon>-->
  </div>
</div>
