<div style="padding: 10px; font-size: 14px;">

  <div class="fx fx-column fx-gap-4" style="padding: 10px; border: 3px solid #d2d2d2;">

    <div class="fx fx-row fx-gap-8 fx-align-center-start" style="cursor: pointer;" (click)="toggle()">

      <span>{{charge.chargeStartBatteryLevel}}%</span>

      <div class="fx fx-flex fx-align-center-center">
        <span>{{charge.chargeStartDate | date:'dd/MM/YYYY à HH:mm'}}</span>
      </div>

      <span>{{charge.chargeEndStatus}}</span>

      <div [style.rotate]="(expanded) ? '180deg' : '0'">
        <mat-icon>expand-more</mat-icon>
      </div>
<!--      <rems-icon icon="expand-more" [width]="24" [height]="24" [rotate]="(expanded) ? 180 : 0"></rems-icon>-->
    </div>

    <div *ngIf="expanded" class="fx fx-column">

      <div class="fx fx-row fx-gap-8">
        <span>{{charge.chargeDuration! | toHour}}</span>

        <span>{{charge.chargeEnergyRecovered}} kWh</span>
      </div>

      <div class="fx fx-row fx-gap-8 fx-align-center-start">

        <span>{{charge.chargeEndBatteryLevel}}%</span>

        <div class="fx fx-flex fx-align-center-center">
          <span>{{charge.chargeEndDate | date:'dd/MM/YYYY à HH:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
