<div class="p-2 text-sm">

  <div class="flex flex-col gap-1 p-2 border-2 border-gray-300">

    <div class="flex gap-2 justify-center cursor-pointer" (click)="toggle()">

      <span>{{ charge.chargeStartBatteryLevel }}%</span>

      <div class="flex justify-center flex-1">
        <span>{{ charge.chargeStartDate | date:'dd/MM/YYYY à HH:mm' }}</span>
      </div>

      <span>{{ charge.chargeEndStatus }}</span>

      <div [style.rotate]="(expanded) ? '180deg' : '0'">
        <mat-icon>expand_more</mat-icon>
      </div>
    </div>

    @if (expanded) {
      <div class="flex flex-col">

        <div class="flex gap-2">
          <span>{{ charge.chargeDuration! | toHour }}</span>

          <span>{{ charge.chargeEnergyRecovered }} kWh</span>
        </div>

        <div class="flex items-center">

          <span>{{ charge.chargeEndBatteryLevel }}%</span>

          <div class="flex justify-center items-center flex-1">
            <span>{{ charge.chargeEndDate | date:'dd/MM/YYYY à HH:mm' }}</span>
          </div>
        </div>
      </div>
    }
  </div>
</div>
