<form [formGroup]="form"
      class="flex flex-col gap-4 p-5"
      (ngSubmit)="onSubmit()">

  <div class="flex justify-center p-5 bg-gray-300 rounded-3xl">
    <span class="text-xl font-bold">Charge différée</span>
  </div>

  <div class="flex flex-col justify-center gap-2">

    <span>Choissez une heure</span>

    <input matInput type="time" formControlName="time">
  </div>

  <div class="flex flex-col gap-4">

    <button mat-flat-button type="submit" [disabled]="form.invalid">Valider</button>

    <button mat-flat-button (click)="close()">Annuler</button>
  </div>
</form>
