<div class="flex h-full w-full p-5">

  <div class="flex flex-col flex-1 gap-2 widget">

    <div class="flex">

      <div class="flex justify-center cursor-pointer" (click)="back()">
        <button mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div class="flex flex-1 justify-center items-center">
        <span>Historique de charge</span>
      </div>

      <div class="w-6"></div>
    </div>

    <form [formGroup]="form" class="flex flex-col gap-4" (ngSubmit)="onSubmit()">

      <input matInput type="date" formControlName="startDate">

      <input matInput type="date" formControlName="endDate">

      <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">Rechercher</button>
    </form>

    <div style="border-top: 2px solid rgb(128,128,128);"></div>

    <div class="overflow-auto">
      <app-charge *ngFor="let charge of charges; trackBy:trackByDate" [charge]="charge"/>
    </div>
  </div>
</div>
