<div class="flex h-full w-full p-5">

  <div class="flex flex-col flex-1 gap-2 widget">

    <div class="flex">

      <div class="flex justify-center cursor-pointer" (click)="back()">
        <button mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div class="flex flex-1 justify-center">
        <span>Historique de charge</span>
      </div>

      <div class="w-6"></div>
    </div>

    <form (ngSubmit)="onSubmit()">

      <input matInput type="date" value="2023-02-02">

      <input matInput type="date" formControlName="endDate">

      <button mat-flat-button type="submit" [disabled]="form.invalid">Rechercher</button>
    </form>

    <div style="border-top: 2px solid rgb(128,128,128);"></div>

    <div class="overflow-auto">
      <app-charge *ngFor="let charge of charges" [charge]="charge"/>
    </div>
  </div>
</div>
