<app-panel>

  <div class="flex justify-center">
    <span>CONNEXION</span>
  </div>

  <form [formGroup]="form" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput
             id="user-text-field"
             type="email"
             formControlName="login">
      <mat-error *ngIf="form.controls['login'].getError('required')">L'identifiant est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
             id="current-password"
             type="password"
             formControlName="password">
      <mat-error *ngIf="form.controls['password'].getError('required')">Le mot de passe est requis.</mat-error>
    </mat-form-field>

    <div class="flex justify-center">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">SE CONNECTER</button>
    </div>
  </form>
</app-panel>
