<app-panel>

  <form [formGroup]="form" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">

    <div class="flex justify-center items-center">
      <span>VÉHICULES</span>
    </div>

    @if (vehicles()?.vehicleLinks && !isLoading) {
      <div>
        <mat-radio-group class="flex flex-col gap-2" formControlName="vin">

          @for (vehicle of vehicles()!.vehicleLinks; track vehicle.vin) {
            <mat-radio-button [value]="vehicle.vin">
              {{ vehicle.vin }}
            </mat-radio-button>
          } @empty {
            <span>Aucune voiture associée à ce compte</span>
          }
        </mat-radio-group>
      </div>
    } @else {
      <app-spinner class="flex justify-center items-center"/>
    }

    <div class="flex justify-center items-center gap-4">

      <button mat-stroked-button type="button" (click)="switchAccount()">RETOUR</button>

      <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">CONFIRMER</button>
    </div>
  </form>
</app-panel>
