<app-panel>

  <div class="flex flex-col gap-4">

    <div class="flex justify-center items-center">
      <span class="font-bold">Comptes disponibles</span>
    </div>

    @if (accounts().length) {
      <form [formGroup]="form"
            class="flex flex-col gap-4"
            (ngSubmit)="onSubmit()">

        <mat-radio-group class="flex flex-col gap-2" formControlName="accountId">
          @for (account of accounts();track account.accountId) {
            <mat-radio-button [value]="account.accountId">
              {{ account.accountType }}
            </mat-radio-button>
          }
        </mat-radio-group>

        <div class="flex justify-center items-center gap-4">

          <button mat-stroked-button type="button" (click)="logout()">RETOUR</button>

          <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">CONFIRMER</button>
        </div>
      </form>
    } @else {
      <app-spinner/>
    }
  </div>
</app-panel>
