.navbar {
  background-color: white;
  border-radius: 15px 15px;
  box-shadow: 0 0 10px -6px rgba(0, 0, 0, 0.3);
  padding: 5px 0 10px;
}

.item {
  @apply flex flex-col justify-center items-center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
}

.item__label {
  font-size: 13px;
}
