<div class="flex flex-col gap-2 widget">

  <div class="flex">

    <div class="flex justify-center items-center flex-1 gap-2">

      <mat-icon>electric_car</mat-icon>

      <span>Niveau de Charge</span>
    </div>
  </div>

  @if (batteryStatus()) {
    <div class="flex flex-col gap-2">

      <div class="flex gap-4">

        <div class="flex items-center">

          <div class="flex flex-col justify-center gap-2 widget__bloc"
               [class.widget__bloc--charging]="isCharging()">

            <div class="flex justify-center text-sm">
              <span>Batterie</span>
            </div>

            <div class="flex justify-center battery-container" [style.background-image]="batteryGradient()">
              <span class="text-xs font-bold">{{ batteryStatus()!.batteryLevel }} %</span>
            </div>

            @if (isCharging()) {
              <div class="flex flex-col gap-1 text-xs">
                <span class="text-[10px]">~ {{ batteryStatus()!.chargingRemainingTime! | toHour }}</span>
              </div>
            }
          </div>
        </div>

        <div class="flex flex-col gap-2 flex-1 text-sm widget__bloc">

          <div class="flex justify-center">
            <span>Autonomie</span>
          </div>

          <div class="flex flex-wrap justify-center flex-1 gap-2">

            <div class="flex items-center gap-1 bg-white p-1 rounded-2xl" matTooltip="Autonomie approximative">

              <mat-icon>directions_car</mat-icon>

              <span>{{ batteryStatus()!.batteryAutonomy }} km</span>
            </div>

            <div class="flex items-center gap-1 bg-white p-1 rounded-2xl">

              <mat-icon>electric_bolt</mat-icon>

              <span>{{ batteryStatus()!.batteryAvailableEnergy }} kW</span>
            </div>
          </div>
        </div>
      </div>

      <span
        class="flex justify-center text-gray-400 text-[10px]">Dernière activité : {{ batteryStatus()!.timestamp | date:'dd/MM/YY HH:mm':'UTC+2' }}</span>

      <div class="flex justify-center">
        <button mat-icon-button (click)="toggle()" [style.rotate]="(revealActions) ? '180deg' : '0deg'">
          <mat-icon>keyboard_double_arrow_down</mat-icon>
        </button>
      </div>

      @if (revealActions) {
        <app-charge-actions/>
      }
    </div>
  } @else {
    <app-spinner class="flex justify-center"/>
  }
</div>
