<div class="fx fx-column fx-gap-8 widget">

  <div class="fx fx-row">

    <div class="fx fx-row fx-flex fx-align-center-center fx-gap-4">

      <mat-icon>electric-car</mat-icon>
      <!--      <rems-icon icon="electric-car" [width]="30" [height]="30"></rems-icon>-->

      <span>Niveau de Charge</span>
    </div>
  </div>

  <div *ngIf="batteryStatus(); else loading">

    <div class="fx fx-column fx-gap-8">

      <div class="fx fx-row fx-gap-16">

        <div class="fx fx-align-center-center">

          <div class="fx fx-column fx-align-center-center fx-gap-8 widget__bloc"
               [ngClass]="{'widget__bloc--charging': isCharging()}">

            <div class="fx fx-align-center-center" style="font-size: 14px;">
              <span>Batterie</span>
            </div>

            <div class="fx fx-align-center-center battery-container" [style.background]="batteryGradient()">
              <span style="font-size: 12px; font-weight: 700;">{{batteryStatus()!.batteryLevel}} %</span>
            </div>

            <div *ngIf="isCharging()" class="fx fx-column fx-gap-4" style="font-size: 12px; font-weight: 500;">

              <span style="font-size: 10px;">~ {{batteryStatus()!.chargingRemainingTime! | toHour}}</span>
            </div>
          </div>
        </div>

        <div class="fx fx-flex fx-column fx-gap-8 widget__bloc" style="font-size: 14px;">

          <div class="fx fx-align-center-center">
            <span>Autonomie</span>
          </div>

          <div class="fx fx-flex fx-align-center-center fx-gap-8" style="flex-wrap: wrap">

            <div matTooltip="Autonomie approximative" class="fx fx-row fx-gap-2"
                 style="background-color: white; padding: 5px; border-radius: 20px;">

              <mat-icon>directions-car</mat-icon>
              <!--              <rems-icon icon="directions-car" [width]="20" [height]="20"></rems-icon>-->

              <span>{{batteryStatus()!.batteryAutonomy}} km</span>
            </div>

            <div class="fx fx-row fx-gap-2" style="background-color: white; padding: 5px; border-radius: 20px;">

              <mat-icon>electric-bolt</mat-icon>
              <!--              <rems-icon icon="electric-bolt" [width]="20" [height]="20"></rems-icon>-->

              <span>{{batteryStatus()!.batteryAvailableEnergy}} kW</span>
            </div>
          </div>
        </div>
      </div>

      <span class="fx fx-align-center-center"
            style="font-size: 10px; color: dimgray;">Dernière activité : {{batteryStatus()!.timestamp | date:'dd/MM/YY HH:mm':'UTC+2'}}</span>

      <div class="fx fx-align-center-center">
        <button mat-icon-button (click)="toggle()">
          <mat-icon [style.rotate]="(revealActions) ? '180deg' : '0'">keyboard-double-arrow-down</mat-icon>
          <!--          <rems-icon icon="keyboard-double-arrow-down"-->
          <!--                     [width]="24"-->
          <!--                     [height]="24"-->
          <!--                     [rotate]=""></rems-icon>-->
        </button>
      </div>

      <app-charge-actions *ngIf="revealActions"/>
    </div>
  </div>

  <ng-template #loading>
    <div class="fx fx-align-center-center">
      <app-spinner/>
    </div>
  </ng-template>
</div>
