@import 'custom-theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: black;
  --secondary-color: gold;
  --accent-color: crimson;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

.widget {
  background-color: white;
  min-height: 80px;
  border-radius: 20px;
  box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.panel {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  width: 600px;
  max-width: 100%;
}

.not-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.remove-input-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}
